.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.plan-heading {
  text-align: left;
  margin-top: 20px;
  margin-left: 82px;
}

.plan-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:white;
  transition: 0.4s;
  border-radius: 27px;
  margin-left: -136px;
  border: 2px solid black;
}

.slider:before {
  position: absolute;
  /* padding: 10px; */
  content: "Monthly";
  font-size: small;
  text-align: center;
  height: 23px;
  width: 50%;
  /* right: 18px; */
  left: 4px;
  bottom: 4px;
  background-color: #deeeff;
  transition: 0.4s;
  border-radius: 43%;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

.toggle-label {
  margin: 0 10px;
}
