.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: -20px;
}
.special-card-details {
  display: flex;
  gap: 50px;
}
.typeheading {
  margin-top: 5px;
  margin-bottom: 5px;
}
.basic {
  background-color: #fff;
}

.premium {
  background-color: #fff;
}

.standard {
  background-color: #fff;
}
.basic .get-started-button {
  background-color: #efc90a;
}

.premium .get-started-button {
  background-color: #e587ff;
}

.standard .get-started-button {
  background-color: #f19813;
}
.get-started-button {
  color: black;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  gap: 10px;
}

.border {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  width: 300px;
}

.card-details {
  margin-top: 10px;
}
.initial-price {
  color: black; /* Set the color for the initial price */
}

.strike-through {
  text-decoration: line-through red;
}
.special-card {
  width: 514px;
  height: 190px;
  border: none;
  margin-top: -23px;
}
.freeForeverButton {
  background-color: #c1f834;
  border-radius: 21px;
  border: none;
  padding: 5px;
}
.card-header {
  max-width: 420px;
}
.letsConnectButton {
  background-color: #37a0ea;
  border-radius: 21px;
  border: none;
  padding: 5px;
}
h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0; /* Default margin */
}
.icon-with-margin {
  margin-bottom: -2px;
}


@media only screen and (max-width: 600px) {
  .special-card h2 {
    margin-left: -231px;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    text-align: center;
  }
  .explore-features {
    margin-left: 116px;
  }
  .border {
    width: 382px;
  }
  .letsConnectButton {
    margin-left: -301px;
    margin-top: 0px;
  }
  .freeForeverButton {
    margin-left: -273px;
  }
  .card-details {
    margin-top: -8px;
  }
  .typeheading {
    margin-left: -160px;
  }
  .special-card {
    margin-top: 4px;
  }
}
