.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
}
.profile-info {
  display: flex;
  align-items: center;
  width: 12%;
}

.logo-photo {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 88%;
  border-radius: 5px;
  height: 0px;
  border-bottom: 122px solid #deeeff;
  border-left: 71px solid transparent;
  border-right: 0px solid transparent;
  justify-content: flex-end; /* Updated to align items to the end */
}

.user-info {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  margin-top: 115px;
  width: 238px;
  margin-right: 0;
}

.arrow-box {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 3px;
  margin-left: 8px;
  margin-top: 115px;
  margin-right: 21px;
  /* position: relative; */
}

/* .arrow-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: #666 transparent transparent transparent;
} */
.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-name {
  font-weight: bold;
  margin-right: 8px;
}

.logo {
  width: 150px;
  height: 60px;
}
@media only screen and (max-width: 768px) {
  .logo-container {
    border-left: 125px solid transparent;

  }
  .profile-info{
    margin-left: 128px;
  }
  .logo-photo{
    width:1000px;
    margin-left: -127px;
  }
}
@media only screen and  (max-width:376px) {
  .logo-container {
    border-left: 150px solid transparent;

  }
 
}
@media only screen and  (max-width:321px) {
  .logo-container {
    border-left: 232px solid transparent;

  }
 
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-container {
    border-left: 56px solid transparent;
  }
  .profile-info {
    margin-left: 81px;
  }
  .logo-photo {
    margin-left: -85px;
  }
}
@media only screen and (min-width: 911px) and (max-width:1300px ) {
  .logo-container {
    border-left: 56px solid transparent;
  }
  .profile-info {
    margin-left: 40px;
  }
  .logo-photo {
    margin-left: -44px;
  }
}


