.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.plan-heading {
  text-align: left;
  margin-top: 50px;
  margin-left: 77px;
}

.plan-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:white;
  transition: 0.4s;
  border-radius: 27px;
  /* margin-left: -215x; */
  /* margin-left: -225px; */
    margin-right: 60px;
  /* margin-right:0px; */
  border: 2px solid black;
}

.slider:before {
  position: absolute;
  /* padding: 10px; */
  content: "";
  font-size: small;
  text-align: center;
  height: 27px;
  width: 50%;
  /* right: 18px; */
  left: 0px;
  bottom: 2px;
  background-color: #deeeff;
  transition: 0.4s;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}


input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}

.toggle-label {
  margin: 0 10px;
}
@media only screen and (max-width: 600px) {
  .plan-heading {
    text-align: center;
    margin-left: 33px;
 } 
 input:checked + .slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}
 .slider{
  margin-right: 85px;
 }
.switch{
  margin-left: 281px;
    margin-top: 15px;
}

}